.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  background-color: var(--lt-clr-2);
}

.App__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  background-image: url(./assets/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.App__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App__header__left {
  text-transform: uppercase;
  font-weight: var(--ft-bold);
  color: var(--lt-clr-1);
}

.App__header__right__theme-btn {
  border: none;
  background: transparent;
}

.dark-app {
  background-color: var(--dk-clr-1);
}


@media screen and (min-width: 375px) {
  .App {
    padding: 48px 24px;
  }

  .App__background {
    height: 200px;
  }

  .App__header {
    margin-bottom: 40px;
  }

  .App__header__left {
    font-size: 21px;
    letter-spacing: 12px;
  }

  .dark-background {
    background-image: url(./assets/bg-mobile-dark.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .App {
    padding: 76px 18.75%;
  }

  .App__background {
    height: 300px;
    background-image: url(./assets/bg-desktop-light.jpg);
  }

  .App__header {
    margin-bottom: 48px;
  }

  .App__header__left {
    font-size: 32px;
    letter-spacing: 16px;
  }

  .dark-background {
    background-image: url(./assets/bg-desktop-dark.jpg);
  }
}
